* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bounce-box {
  width: 250px;
  height: 150px;
  background-color: yellowgreen;
  margin: 80px auto;
  cursor: pointer;
}
.bounce-text:hover,
.bounce-box:hover {
  animation: bounce linear 1s;
}

@keyframes bounce {
  20%,
  50%,
  80%,
  to {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  70% {
    transform: translateY(-15px);
  }
  90% {
    transform: translateY(-4px);
  }
}
